//blog\themes\next\source\css\_variables

//宽度占比
$content-desktop-large        = 75em;
$content-desktop-largest      = 80%;


//翻页按钮颜色
$orange-light     =#ff9933
$pagination-active-bg           = $orange-light;
//整体字体颜色
$black-light  = #121212;
$text-color                   = $black-light;